<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="Exams.hbm.xml"/>
        <mapping resource="Answer.hbm.xml"/>
        <mapping resource="Profilestudent.hbm.xml"/>
        <mapping resource="Resulttests.hbm.xml"/>
        <mapping resource="Questioncategories.hbm.xml"/>
        <mapping resource="Questions.hbm.xml"/>
        <mapping resource="Users.hbm.xml"/>
        <mapping resource="Detailexams.hbm.xml"/>
        <mapping resource="Roleusers.hbm.xml"/>
        <mapping resource="Subjects.hbm.xml"/>
        <mapping resource="Classes.hbm.xml"/>
        <mapping resource="Profilemanager.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
